h1 {
  text-align: center;
}
body {
  text-align: center;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.hero-img{
background-image: url("http://wallpaper.zone/img/5429429.jpg");
background-size: cover;
}
